<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jquery HOME</title>
<link rel='stylesheet' href="/webjars/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/home.js"></script>
</head>
<body>
<div class="container my-3">
<div class="btn-group d-flex justify-content-center" role="group">
  <button type="button" class="btn btn-primary">로그인</button>
  <button type="button" class="btn btn-success">로그아웃</button>
  <button type="button" class="btn btn-warning">회원정보</button>
</div>
</div>

<div class="container">
        <h1>Board Information</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>User Name</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.noticeNo}"></td>
                    <td th:text="${board.noticeTitle}"></td>
                    <td th:text="${board.noticeContent}"></td>
                    <td th:text="${board.userNm}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div> <!-- /container -->
</body>
</html>