<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jquery HOME</title>
<link rel='stylesheet' href="/webjars/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/home.js"></script>
</head>
<body>
<div class="container my-3">
<div class="btn-group d-flex justify-content-center" role="group">
  <button type="button" class="btn btn-primary">로그인</button>
  <button type="button" class="btn btn-success">로그아웃</button>
  <button type="button" class="btn btn-warning">회원정보</button>
</div>
</div>
</body>
</html>